.box {
  background: pink;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  transition: all 300ms ease;
  opacity: 0;
  animation: moveitback 400ms ease forwards;
  will-change: transform;
}

h1:hover+.box {
  opacity: 1;
  animation: moveit 900ms ease forwards;
  will-change: transform;
}

@keyframes moveit {
  0% {
    transform: translateY(0) scale3d(0.96, 0.96, 1);
  }

  20% {
    transform: translateY(80px) scale3d(1.1, 1.1, 1);
  }

  40% {
    transform: translateY(50px) scale3d(0.98, 0.98, 1);
  }

  60% {
    transform: translateY(62px) scale3d(1.05, 1.05, 1);
  }

  80% {
    transform: translateY(60px) scale3d(1.01, 1.01, 1);
  }

  100% {
    transform: translateY(60px) scale3d(1, 1, 1);
  }
}

@keyframes moveitback {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0) scale3d(0.96, 0.96, 1);
  }
}

@keyframes scale {
  0% {
    transform: scale3d(0.96, 0.96, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}